<div class="card tilebox-one mb-2">
    <div class="card-body pt-3 pb-1 px-3">
        <div class="row justify-content-between" style="float:right">
            <button type="button" class="btn border-0 px-1 py-0"  ngbTooltip="The Office of the State Engineer (OSE) has 268,405 point of diversion groundwater wells tracked. This map has been filterd to display only active wells.  Monitored wells are associated with one or more timeseries groundwater level datasets." triggers="click:blur" placement="left">
                <fa-icon [icon]="infocircle" [styles]="{'stroke': 'white', 'color': '#28648a'}"></fa-icon>
            </button>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 text-lg-left text-sm-right text-right">
                <h6 class="header-title">MONITORED WELLS</h6>
            </div>
            <div class="col-6">
                <div class="row justify-content-between">
                    <h6 class="header-title">ACTIVE PERMITTED WELLS</h6>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6 text-lg-left text-sm-right text-right">
                <h3 class="mt-0 mb-1" id="active-users-count">1,371</h3>
            </div>
            <div class="col-6">
                <h3 class="mt-0 mb-1" id="active-users-count">268,405</h3>
            </div>
        </div>
    </div>
</div>
