.title-container {
    background-color: #313A46;
    color: #fff;
}

.collapse-header {
    background-color:#313A46;
    font-family: Nunito;
    cursor: pointer;
}

.collapse-arrow {
    font-size: 25px;
}

.content-container {
    background-color: #FAFBFE;
}

.collapse-content {
    background-color: #fff;
}